<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Cat">

                                        <!--INSERT-->

    <insert id="insert" parameterType="Cat">
        INSERT INTO "Cat" (breed,sex,age) VALUES (#{breed}, #{sex}, #{age})
     </insert>

                                        <!--UPDATE-->

    <update id = "update" parameterType = "Cat">
        UPDATE "Cat" SET breed = #{breed}, sex = #{sex}, age = #{age} WHERE id = #{id};
    </update>

                                        <!--DELETE-->

    <delete id = "deleteById" parameterType = "int">
        DELETE from "Cat" WHERE id = #{id};
    </delete>

                                    <!--SELECTALL-->

    <resultMap id = "result" type = "Cat">
        <result property = "breed" column = "breed"/>
        <result property = "sex" column = "sex"/>
        <result property = "age" column = "age"/>
    </resultMap>

    <select id = "getAll" resultMap = "result">
        SELECT * FROM "Cat";
    </select>

                                    <!--SELECT-->

    <select id = "getById" parameterType = "int" resultMap = "result">
        SELECT * FROM "Cat" WHERE id = #{id};
    </select>



</mapper>